<div id="banner">
	<h1 style="float: left;"><%= @project.name %></h1>
	<span style="float: right;">
		<a id="toggleCollapse" class="button" href="#">Toggle collapse</a>
		<%= link_to 'New story', new_project_story_path(@project), :remote=>true, :class => 'button' %>
	</span>
</div>
<div style="clear: both;"></div>
<div id="main">
	<h2>Current stories</h2>
	<div id='current_stories' class="story_column" data-scope="<%= Scope::CURRENT %>">
		<% @current_stories.each do |story| %>
			<%= render :partial => 'stories/partials/view', :locals => {:story => story} %>
		<% end %>
	</div>
</div>
<div id="sidebar">
	<h2>Backlog</h2>
	<div id='backlog_stories' class="story_column" data-scope="<%= Scope::BACKLOG %>">
		<% @backlog_stories.each do |story| %>
			<%= render :partial => 'stories/partials/view', :locals => {:story => story} %>
		<% end %>
	</div>
</div>
<br />
<%= javascript_include_tag "dashboard" %>