<% project = story.project %>

<%= form_for([project, story], :remote=>true) do |f| %>
	<% box_container(container_id_of(story)) do %>
		<% box_header do %>
			<%= f.text_field :title %>
		<% end %>
		<% box_content do %>
			<span><%= story.status %></span><br/>
			<span><%= f.select(:assigned_to_id, story.assignable_users.collect {|u| [u.email, u.id]}, :include_blank => true) %></span>
			<p><%= f.text_area :description, :size => "25x5" %></p>
			<div>
				<%= f.submit(:'data-disable-with' => "Saving...") %>
				<%= ajax_cancel_link(story) %>
			</div>
		<% end %>
	<% end %>
<% end %>