<% project = story.project %>

<%= form_for([project, story], :remote=>true) do |f| %>
<div>
	<h3><%= f.text_field :title %></h3><span><%= story.status %></span><br/>
	<span><%= f.select(:assigned_to_id, project.collaborators.collect {|u| [u.email, u.id]}, :include_blank => true) %></span>
	<p><%= f.text_field :description %></p>
	<div>
		<%= f.submit %> <%= link_to "cancel", {:action => "show"}, :remote => true %>
	</div>
</div>
<% end %>