<% story_container(story) do %>
	<% story_header do %>
		<span><%= story.title %></span>
		<div class="actions clear" style="float: right; ">
			<div style="float: left;">
				<%= story_time_estimations(story) %>
			</div>
			<%= story_edit_link(story) %>
			<%= story_delete_link(story) %>
		</div>
	<% end %>
	<% story_content do %>
		<span class="assigned_to"><%= assigned_person_for(story) %></span>		
		<div style="float: right;">
			<%= action_links_for_story(story) %>
		</div>
		<p><%=raw story.description %></p>
		<div>
			<div id='<%= container_id_of_tasks_for(story) %>'>
				<%= render :partial => 'tasks/partials/tasks', 
									 :locals => {:story => story, :tasks => story.tasks} %>
			</div>
		</div>
	<% end %>
<% end %>