<% box_container(container_id_of(story), {:'class' => "story #{story.status}"}) do %>
	<% box_header do %>
		<span><%= story.title %></span>
		<div class="actions clear" style="float: right;">
			<%= action_links_for_story(story) %>
			<%= link_to 'Edit', edit_project_story_path(story.project, story),
				:remote=>true, :class => 'edit icon',
				:'data-disable-with' => "Loading..." %>
			<%= link_to 'Destroy', project_story_path(story.project, story), 
				:confirm => 'Are you sure?', :class => 'delete icon',
				:method => :delete, :remote=>true,
				:'data-disable-with' => "Deleting..."%>
			<span class="icon collapse" style="float: left;"></span>
		</div>
	<% end %>
	<% box_content do %>
		<span class="assigned_to"><%= assigned_person_for(story) %></span>		
		<div style="float: right;">
			<%= render :partial => 'shared/estimated_and_spent_hours', 
				:locals => {:estimated => story.total_hours_estimated, 
							:spent => story.total_hours_spent} %>
		</div>
		<p><%=raw story.description %></p>
		<div>
			<div id='<%= container_id_of_tasks_for(story) %>'>
				<%= render :partial => 'tasks/partials/tasks', 
									 :locals => {:story => story, :tasks => story.tasks} %>
			</div>
		</div>
	<% end %>
<% end %>