<% box_container(container_id_of(story)) do %>
	<% box_header do %>
		<h3 style="display: inline;"><%= story.title %></h3>
		<div id='<%= container_id_of(story) %>_hours' style="display: inline-block; float: right;">
			<%= render :partial => 'stories/partials/story_hours', :locals => {:story => story} %>
		</div>
	<% end %>
	<% box_content do %>
		<span><%= story.status.humanize %></span><br/>
		<span><%= assigned_person_for(story) %></span>
		<p><%= story.description %></p>
		<div class="actions" style="display: inline-block;">
			<%= link_to 'Edit', edit_project_story_path(story.project, story), :remote=>true %>
			<%= link_to 'Destroy', project_story_path(story.project, story), :confirm => 'Are you sure?', :method => :delete, :remote=>true %>
			<div id='<%= container_id_of_tasks_for(story) %>' style="display: inline-block;">
				<%= render :partial => 'tasks/partials/tasks', :locals => {:story => story, :tasks => story.tasks} %>
			</div>
		</div>
	<% end %>
<% end %>