<% box_container(container_id_of(story), {:'class' => 'story'}) do %>
	<% box_header do %>
		<h3 style="display: inline;"><%= story.title %></h3>
		<div style="display: inline-block; float: right;">
			<%= action_links_for_story(story) %>
		</div>
	<% end %>
	<% box_content do %>
		<span><%= story.status.humanize %></span><br/>
		<span><%= assigned_person_for(story) %></span>
		<div>
			<span>Est: <%= story.total_hours_estimated %></span>
			<span>Sp: <%= story.total_hours_spent %></span>
		</div>
		<p><%= story.description %></p>
		<div class="actions">
			<%= link_to 'Edit', edit_project_story_path(story.project, story), :remote=>true,
				:'data-disable-with' => "Loading..." %>
			<%= link_to 'Destroy', project_story_path(story.project, story), 
				:confirm => 'Are you sure?', 
				:method => :delete, :remote=>true,
				:'data-disable-with' => "Deleting..." %>
			<div id='<%= container_id_of_tasks_for(story) %>'>
				<%= render :partial => 'tasks/partials/tasks', :locals => {:story => story, :tasks => story.tasks} %>
			</div>
		</div>
	<% end %>
<% end %>