<%= form_for([@project, @project_membership], :remote => true) do |f| %>
<div>
	<%= f.label :search %>
	<%= text_field_tag :email %>
	<%= f.select(:role, Role::all) %>
	<%= f.submit 'Add user'%>
</div>
<% end %>