<% content_for :title do %>
  <h2>Time entry for <%= @project.name %></h2>
<% end %>

<div>
	<div class="centered" style="margin: 20px 0px 20px 0px;">
		<div style = "display: inline-block; width: 780px; margin-bottom: 10px;">
			<%= link_to 'Previous', 
						time_entry_project_path(@project.id, :week => @week.previous), 
						:class=>"button", :style => "float: left;" %>
			<%= link_to 'Next', 
						time_entry_project_path(@project.id, :week => @week.next), 
						:class=>"button", :style => "float: right;" %>
		</div>
	<table class="shaded" style="width: 780px;">
		<thead>
			<tr>
				<th></th>
				<% @week.beginning_of_week.upto(@week.end_of_week) do |day| %>
					<th>
						<%= day.strftime("%A") %><br/>
						<span><%= l day, :format => :short %></span>
					</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @stories.each do |story| %>
				<tr>
					<th><%= story.title %></th>
					<% 7.times do %><th></th><% end %>
				</tr>
				<% story.tasks.assigned_to(current_user).each do |task| %>
					<% if(task.assigned_to == current_user) %>
					<tr>
						<td style="text-align: right;"><%= task.title %></td>
						<% @week.beginning_of_week.upto(@week.end_of_week) do |day| %>
							<td>
								<%= time_entry_slot_for(task, day) %>
							</td>
						<% end %>
					</tr>
					<% end %>
				<% end %>
			<% end %>
		</tbody>
	</table>
	</div>
</div>

<%= javascript_include_tag "time_entry" %>