<% story = task.story %>
<li id="<%= container_id_of(task) %>">
<%= form_for([story, task], :remote=>true) do |f| %>
	<div class="field task_header">
		<%= f.text_field :title, :required => true, :size => '50' %>
		<%= f.label :est %>
		<%= f.text_field :hours_estimated, :size => '1' %>
	</div>
	<%= f.select(:assigned_to_id, story.assignable_users.collect {|u| [u.email, u.id]}, :include_blank => true) %>
	<div class="actions" style="display: inline-block">
		<%= f.submit(:'data-disable-with' => "Saving...") %>
		<%= ajax_cancel_link(task, :li) %>
	</div>
<% end %>
</li>