<li id='<%= container_id_of(task) %>'>
	<div>
		<span><%= task.title %></span>
		<span>Est: <%= task.hours_estimated %></span>
		<span>Ac: <%= task.hours_spent %></span>
	</div>
	<div>
		<span><%= task.status %></span>
		<span><%= assigned_person_for(task) %></span>
	</div>
	<div>
		<%= link_to 'Edit', edit_story_task_path(task.story, task), :remote=>true %>
		<%= link_to 'Destroy', story_task_path(task.story, task), :confirm => 'Are you sure?', :method => :delete, :remote=>true %>
	</div>
</li>